@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background-color: rgb(219, 219, 219);
  }
  .containers{
    width: 1300px;
    margin: auto;
  }
  header{
    background-color: rgb(64, 100, 100);
    color: #fff;
    height: 27vh;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #fff;
  }
  .menu_items a{
    margin: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
  }
  .menu_items a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
  }
  .menu_items a:active{
    border-bottom: 1px solid #fff;
  }
  .navbar_acc img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
  }

.dashboard .dash-content{
    padding-top: 100px;
}
.dashboard .dash-content{
    padding-top: 200px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #1d1d1d;
    border-radius: 6px;
    color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: #1d1d1d;
    margin-left: 10px;
}
.btn, .delete-btn{
   width: 100%;
   border-radius: 5px;
   padding: 15px 30px;
   color:#1d1d1d;
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 17px;
   margin-top: 20px;
   text-decoration: none;
   border-color : red ;
   border-style : solid ;
    border-width : 0;
}

.btn{
   background-color: rgb(64, 100, 100) ;
   color: #fff;
}

.btn:hover{
   background-color: rgb(219, 219, 219) ;
   color: #000;
}

.delete-btn{
   background-color: rgb(64, 100, 100) ;
   color: #fff;
}

.delete-btn:hover{
   background-color: rgb(219, 219, 219);
   color: #000;
}
.message{
  margin-top: 20px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  padding:5px;
  text-align: center;
  background-color: rgb(64, 100, 100);
  color: #fff;
  font-size: 15px;
}
.container{
  min-height: 90vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.update-profile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-profile form{
  padding: 50px;
  margin-top: -10px;
  text-align: center;
  width: 1000px;
  text-align: center;
  border-radius: 5px;
}

.update-profile form img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
  margin-bottom: 5px;
  margin-top: 30px;
}

.update-profile form .flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 10px;
}
.prof {
  margin-top: 10px;
  margin-left: 100px;
  justify-content: center;
  align-items: center;
}
.prof span{
  text-align: left;
  align-items: center;
  margin-left: 280px;
  display: block;
  margin-top: 15px;
  font-size: 17px;
  color: #1d1d1d;
}
.prof .imageBox{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
}
.update-profile form .flex .inputBox {
  margin-top: 20px;
  width: 50%;
}

.update-profile form .flex .inputBox span{
  text-align: left;
  display: block;
  margin-top: 15px;
  font-size: 17px;
  color: #1d1d1d;

 
  
}

.update-profile form .flex .inputBox .box{
  width: 100%;
  border-radius: 5px;
  background-color: rgb(219, 219, 219);
  border: 1px solid rgb(64, 100, 100);
  padding: 12px 14px;
  font-size: 17px;
  color: #1d1d1d;
  margin-top: 20px;
  
}

@media (max-width:650px){
  .update-profile form .flex{
     flex-wrap: wrap;
     gap:0;
  }
  .update-profile form .flex .inputBox{
     width: 100%;
  }
}